# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint-Pierre,RE,-21.3393,55.4781,78.91,61,0,18.41,clear sky
1,1,Olafsvik,IS,64.8945,-23.7142,37.18,78,56,8.25,broken clouds
2,2,Port Alfred,ZA,-33.5906,26.8910,70.57,80,100,7.52,overcast clouds
3,3,Hithadhoo,MV,-0.6000,73.0833,80.80,71,97,9.06,overcast clouds
4,4,Taquari,BR,-29.7997,-51.8644,64.33,96,54,1.52,broken clouds
...,...,...,...,...,...,...,...,...,...,...
699,699,Chingirlau,KZ,51.0950,54.0814,46.24,60,14,5.84,few clouds
700,700,Tafalla,ES,42.5269,-1.6745,64.40,71,98,19.91,moderate rain
701,701,Dalkola,IN,25.8500,87.8500,84.85,57,1,6.87,clear sky
702,702,Acarau,BR,-2.8856,-40.1200,78.03,81,27,17.56,scattered clouds
703,703,Sanok,PL,49.5557,22.2056,52.43,100,17,5.12,few clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint-Pierre,RE,-21.3393,55.4781,78.91,61,0,18.41,clear sky
2,2,Port Alfred,ZA,-33.5906,26.8910,70.57,80,100,7.52,overcast clouds
3,3,Hithadhoo,MV,-0.6000,73.0833,80.80,71,97,9.06,overcast clouds
6,6,Iguape,BR,-24.7081,-47.5553,66.88,95,27,3.62,scattered clouds
11,11,Yanam,IN,16.7333,82.2167,87.33,65,80,5.19,broken clouds
...,...,...,...,...,...,...,...,...,...,...
692,692,Dharchula,IN,29.8500,80.5333,75.43,43,0,5.77,clear sky
694,694,Neka,IR,36.6508,53.2990,72.91,78,75,2.30,broken clouds
698,698,Colares,PT,38.7992,-9.4469,67.33,90,54,11.99,broken clouds
701,701,Dalkola,IN,25.8500,87.8500,84.85,57,1,6.87,clear sky
702,702,Acarau,BR,-2.8856,-40.1200,78.03,81,27,17.56,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint-Pierre,RE,-21.3393,55.4781,78.91,61,0,18.41,clear sky
2,2,Port Alfred,ZA,-33.5906,26.8910,70.57,80,100,7.52,overcast clouds
3,3,Hithadhoo,MV,-0.6000,73.0833,80.80,71,97,9.06,overcast clouds
6,6,Iguape,BR,-24.7081,-47.5553,66.88,95,27,3.62,scattered clouds
11,11,Yanam,IN,16.7333,82.2167,87.33,65,80,5.19,broken clouds
...,...,...,...,...,...,...,...,...,...,...
692,692,Dharchula,IN,29.8500,80.5333,75.43,43,0,5.77,clear sky
694,694,Neka,IR,36.6508,53.2990,72.91,78,75,2.30,broken clouds
698,698,Colares,PT,38.7992,-9.4469,67.33,90,54,11.99,broken clouds
701,701,Dalkola,IN,25.8500,87.8500,84.85,57,1,6.87,clear sky
702,702,Acarau,BR,-2.8856,-40.1200,78.03,81,27,17.56,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities.copy(['City','Country','Max Temp', 'Current Description', 'Lat', 'Lng'])

# Display sample data
hotel_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint-Pierre,RE,-21.3393,55.4781,78.91,61,0,18.41,clear sky
2,2,Port Alfred,ZA,-33.5906,26.8910,70.57,80,100,7.52,overcast clouds
3,3,Hithadhoo,MV,-0.6000,73.0833,80.80,71,97,9.06,overcast clouds
6,6,Iguape,BR,-24.7081,-47.5553,66.88,95,27,3.62,scattered clouds
11,11,Yanam,IN,16.7333,82.2167,87.33,65,80,5.19,broken clouds
...,...,...,...,...,...,...,...,...,...,...
692,692,Dharchula,IN,29.8500,80.5333,75.43,43,0,5.77,clear sky
694,694,Neka,IR,36.6508,53.2990,72.91,78,75,2.30,broken clouds
698,698,Colares,PT,38.7992,-9.4469,67.33,90,54,11.99,broken clouds
701,701,Dalkola,IN,25.8500,87.8500,84.85,57,1,6.87,clear sky
702,702,Acarau,BR,-2.8856,-40.1200,78.03,81,27,17.56,scattered clouds

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df['Hotel Name'] = ''

# Display sample data
hotel_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
0,0,Saint-Pierre,RE,-21.3393,55.4781,78.91,61,0,18.41,clear sky,
2,2,Port Alfred,ZA,-33.5906,26.8910,70.57,80,100,7.52,overcast clouds,
3,3,Hithadhoo,MV,-0.6000,73.0833,80.80,71,97,9.06,overcast clouds,
6,6,Iguape,BR,-24.7081,-47.5553,66.88,95,27,3.62,scattered clouds,
11,11,Yanam,IN,16.7333,82.2167,87.33,65,80,5.19,broken clouds,
...,...,...,...,...,...,...,...,...,...,...,...
692,692,Dharchula,IN,29.8500,80.5333,75.43,43,0,5.77,clear sky,
694,694,Neka,IR,36.6508,53.2990,72.91,78,75,2.30,broken clouds,
698,698,Colares,PT,38.7992,-9.4469,67.33,90,54,11.99,broken clouds,
701,701,Dalkola,IN,25.8500,87.8500,84.85,57,1,6.87,clear sky,
702,702,Acarau,BR,-2.8856,-40.1200,78.03,81,27,17.56,scattered clouds,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
0,0,Saint-Pierre,RE,-21.3393,55.4781,78.91,61,0,18.41,clear sky,Alize Plage
2,2,Port Alfred,ZA,-33.5906,26.8910,70.57,80,100,7.52,overcast clouds,The Halyards Hotel
3,3,Hithadhoo,MV,-0.6000,73.0833,80.80,71,97,9.06,overcast clouds,Scoop Guest House
6,6,Iguape,BR,-24.7081,-47.5553,66.88,95,27,3.62,scattered clouds,Hotel Pousada Nossa Senhora do Carmo
11,11,Yanam,IN,16.7333,82.2167,87.33,65,80,5.19,broken clouds,The Regency Hotel
...,...,...,...,...,...,...,...,...,...,...,...
692,692,Dharchula,IN,29.8500,80.5333,75.43,43,0,5.77,clear sky,Mahara Hotel
694,694,Neka,IR,36.6508,53.2990,72.91,78,75,2.30,broken clouds,Ú¯Ø§Ù„Ø±ÛŒ Ú¯Ù„ ÙˆÙ†Ø¯Ø§
698,698,Colares,PT,38.7992,-9.4469,67.33,90,54,11.99,broken clouds,Arribas Sintra Hotel
701,701,Dalkola,IN,25.8500,87.8500,84.85,57,1,6.87,clear sky,Hotel Oasis Palace
702,702,Acarau,BR,-2.8856,-40.1200,78.03,81,27,17.56,scattered clouds,castelo pizzaria

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
0,0,Saint-Pierre,RE,-21.3393,55.4781,78.91,61,0,18.41,clear sky,Alize Plage
2,2,Port Alfred,ZA,-33.5906,26.8910,70.57,80,100,7.52,overcast clouds,The Halyards Hotel
3,3,Hithadhoo,MV,-0.6000,73.0833,80.80,71,97,9.06,overcast clouds,Scoop Guest House
6,6,Iguape,BR,-24.7081,-47.5553,66.88,95,27,3.62,scattered clouds,Hotel Pousada Nossa Senhora do Carmo
11,11,Yanam,IN,16.7333,82.2167,87.33,65,80,5.19,broken clouds,The Regency Hotel
...,...,...,...,...,...,...,...,...,...,...,...
692,692,Dharchula,IN,29.8500,80.5333,75.43,43,0,5.77,clear sky,Mahara Hotel
694,694,Neka,IR,36.6508,53.2990,72.91,78,75,2.30,broken clouds,Ú¯Ø§Ù„Ø±ÛŒ Ú¯Ù„ ÙˆÙ†Ø¯Ø§
698,698,Colares,PT,38.7992,-9.4469,67.33,90,54,11.99,broken clouds,Arribas Sintra Hotel
701,701,Dalkola,IN,25.8500,87.8500,84.85,57,1,6.87,clear sky,Hotel Oasis Palace
702,702,Acarau,BR,-2.8856,-40.1200,78.03,81,27,17.56,scattered clouds,castelo pizzaria

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.

# Create a CSV file by using the clean_hotel_df DataFrame
output_data_file = clean_hotel_df.to_csv('../Vacation_Search/WeatherPy_vacation.csv')

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [19]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Alize Plage</dd>\n<dt>City</dt><dd>Saint-Pierre</dd>\n<dt>Country</dt><dd>RE</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.91 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Halyards Hotel</dd>\n<dt>City</dt><dd>Port Alfred</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 70.57 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.8 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Pousada Nossa Senhora do Carmo</dd>\n<dt>City</dt><dd>Iguape</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 66.88 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Regency Hotel</dd>\n<dt>City</dt><dd>Yanam</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>broken clouds and 87.33 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Islazul Niquero</dd>\n<dt>City</dt><dd>Niquero</dd>\n<dt>Country</dt><dd>CU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 77.31 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shandrani Beachcomber Resort & Spa</dd>\n<dt>City</dt><dd>Mahebourg</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 73.69 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Palms Hotel</dd>\n<dt>City</dt><dd>Beruwala</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.05 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Bukama</dd>\n<dt>Country</dt><dd>CD</dd>\n<dt>Current Weather</dt><dd>few clouds and 72.41 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Brisas de San Miguel</dd>\n<dt>City</dt><dd>Orocue</dd>\n<dt>Country</dt><dd>CO</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 74.07 Â°F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [20]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat      Lng
0  -21.3393  55.4781
2  -33.5906  26.8910
3   -0.6000  73.0833
6  -24.7081 -47.5553
11  16.7333  82.2167
12  20.0431 -77.5828
14 -20.4081  57.7000
17   6.4788  79.9828
22  -9.2000  25.8500
23   4.7912 -71.3354

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [18]:
import collections
collections.Iterable = collections.abc.Iterable

# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))